# Factores, data frames y listas

In [14]:
Sizes <- factor(c("S","M","L","XL","M","S","L","M","XL"), levels=c("S","M","L","XL"))

Intensity <- factor(c("Poco", "Mas o Menos", "Mucho", "Poco", "Mas o Menos"))

Colores <- factor(c("Rojo",  "Verde", "Amarillo", "Rojo", "Amarillo", "Rojo"))
print(Sizes)

print(Intensity)

print(Colores)

[1] S  M  L  XL M  S  L  M  XL
Levels: S M L XL
[1] Poco        Mas o Menos Mucho       Poco        Mas o Menos
Levels: Mas o Menos Mucho Poco
[1] Rojo     Verde    Amarillo Rojo     Amarillo Rojo
Levels: Amarillo Rojo Verde

In [15]:
summary(Sizes)

 S  M  L XL
 2  3  2  2

In [17]:
Intensity <- factor(c("Poco", "Mas o Menos", "Mucho", "Poco", "Mas o Menos"),levels=c("Poco","Mas o Menos","Mucho"), ordered=TRUE)

print(Intensity)

[1] Poco        Mas o Menos Mucho       Poco        Mas o Menos
Levels: Poco < Mas o Menos < Mucho

In [22]:
levels(Sizes)

Datos <- as.vector(Sizes)

[1] "S"  "M"  "L"  "XL"

[1] "M"  "L"  "XL" "M"  "L"  "M"  "XL"

# Data Frames

In [43]:
a <- c(1:4)
b <- letters[1:4]
print(a)
print(b)

DataFrame <- data.frame(a=1:4,b=letters[1:4])
print(DataFrame)

[1] 1 2 3 4
[1] "a" "b" "c" "d"
  a b
1 1 a
2 2 b
3 3 c
4 4 d

In [44]:
c <- c(5:10)
d <- letters[5:10]
DataFrame2 <- data.frame(a=5:10,b=letters[5:10])
DataFrame2

  a  b
1  5 e
2  6 f
3  7 g
4  8 h
5  9 i
6 10 j

In [45]:
rbind(DataFrame,DataFrame2)

   a  b
1   1 a
2   2 b
3   3 c
4   4 d
5   5 e
6   6 f
7   7 g
8   8 h
9   9 i
10 10 j

In [47]:
c <- c(4:7)
d <- letters[4:7]
DataFrame4 <- data.frame(c,d)

cbind(DataFrame,DataFrame4)

  a b c d
1 1 a 4 d
2 2 b 5 e
3 3 c 6 f
4 4 d 7 g

In [48]:
summary(DataFrame)

       a        b
 Min.   :1.00   a:1
 1st Qu.:1.75   b:1
 Median :2.50   c:1
 Mean   :2.50   d:1
 3rd Qu.:3.25
 Max.   :4.00

# Listas

In [56]:
elemento1 <- c(100:105)
elemento2 <- letters[1:10]
elemento3 <- c("Hola", "Mundo", "Como", "Estan")
elemento4 <- factor(c("M","F","M","F","F","F"))
elemento5 <- data.frame(a=1:4,b=5:8)
MiLista <- list(a1=elemento1,a2=elemento2, a3=elemento3,a4= elemento4,a5= elemento5)
MiLista$a1
MiLista[[4]]

[1] 100 101 102 103 104 105

[1] M F M F F F
Levels: F M

# NA

In [60]:
NA +5
NA-5
NA*0
NA/0

[1] NA

[1] NA

[1] NA

[1] NA

In [62]:
NA == NA
NA != NA

[1] NA

[1] NA

In [64]:
x <- sample(c(NA,1:3),1)

print(x)
is.na(x)

[1] 2

[1] FALSE

In [67]:
v <- c(1:3,NA,4:6)

sum(v, na.rm =TRUE)

[1] 21

# Ejercicios

## Subirlo a  su GitHub

### Todas las preguntas están o bien en el PDF del laboratorio o pueden buscar en internet, sobre todo las teóricas.